<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Note_API</title>
</head>
 <body>
   <button name="simple_button" type="button">
          Click me ;)
   </button>


    <button name="submit_button" type="submit" value="Submit">
        Submit  ;
   </button>

     <button name="Update_button" type="Update">
        Update  ;
   </button>


    <button name="Delete_button" type="Delete">
        Delete ;
   </button>

  <button onclick="alert('you clicked on button')" >
        Alert!
   </button>


<br>
   <a href="https://github.com/">
  <button>
   Github
  </button>
 </a>
   <br>

 <button style="background-colour:#97f7cc;
                color: #0db46a;
                 font-size: 18px;
                 font-family: mongospace">
  css style

 </button>






 </body>
</html>