<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h3>Sign Up</h3>

  <form action="/signin" method="post">
      {% csrf_token %}

      <label for="">Username</label>
      <input type="text" id="username" name="username" placeholder="Create a username" Required>
      <br>
      <label for="">password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" Required>
      <br>

      <button type="submit"> sign In</button>
  </form>
</body>
</html>